header {
  background-color: #ffe500;
  /*position: fixed;*/
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 16px;
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}

.logo h1 {
  font-size: 30px;
  font-weight: 700;
}

.tools {
  display: flex;
  gap: 25px;
}
.logo {
  margin-top: 0;
}

.tools li i {
  font-size: 25px;
}
